:markdown

  ## Requirements

  * Proven work experience as an Accounting Manager or similar leadership role.
  * Ability to contribute to the career development of staff and a culture of teamwork
  * Strong working knowledge of GAAP principles and financial statements
  * Must have experience with Netsuite
  * Proficient with excel and google sheets
  * International experience preferred.
  * Detail-oriented, self-directed and able to effectively complete tasks with minimal supervision
  * Proficiency with GitLab
  - You share our [values](/handbook/values), and work in accordance with those values.
  - Successful completion of a [background check](/handbook/people-operations/code-of-conduct/#background-checks).
