.gke-promo-banner {
  background-color: $body-bg;
}

.gke-promo-banner-content {
  max-width: 770px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px;

  @include ie10-and-up {
    width: 770px;
  }

  img {
    flex: 0 0 auto;
  }

  p {
    @include font-weight-regular;
    margin: 0 0 0 10px;
    font-size: 14px;
  }
}
