.simple-hero {
  position: relative;
  overflow: hidden;
  color: $color-white;
  text-align: center;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, $simple-hero-gradient-from, $simple-hero-gradient-to 100%);
    content: "";
  }

  .container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
    z-index: 99;
  }

  .hero-image {
    margin-bottom: 30px;
  }

  h1 {
    @include accent-font-bold;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  h3 {
    @include font-weight-semibold;
    margin-top: 0;
    color: $color-secondary-alt;
  }

  p {
    font-size: 20px;
  }
}
