---
layout: default
title: Resources
suppress_header: true
description: The list of available resources such as whitepapers, webinars, etc.
extra_css:
  - resources.css
extra_js:
  - libs/select2.min.js
  - resources.js
  - all-clickable.js
extra_font:
  - Roboto+Slab
---
- resources = data.resources
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1#ee-title
          GitLab Resources

  #content
    .container
      .row
        .col-md-10.col-md-offset-1
          %p.intro All the resources you need to take your idea to production. Learn Git, improve your DevOps workflow, or discover new trends with GitLab.
      .row
        .col-md-12.resources-filter
          - topics = resources.collect{ |r| r.topics }.flatten.uniq.sort
          - types = resources.collect{ |r| r.type }.flatten.uniq.sort

          %select.btn{ name: "resource_topic" }
            %option{ value: "" } Any topic
            - topics.each do |topic|
              %option
                = topic

          %select.btn{ name: "resource_type" }
            %option{ value: "" } Any type
            - types.each do |type|
              %option
                = type

      .row
        .col-md-12
          %h3.resources-no-results-msg.js-resources-no-results-msg.hidden There are no results for your filter.

      .row
        .col-md-12
          %ul{ class: 'resource-tile-group' }
            - resources.each do |resource|
              %li.resource-tile.js-resource-tile.js-all-clickable{ 'data-resource-topics' => '||' + resource.topics.join('||') + '||', 'data-resource-type' => resource.type }
                %h3.resource-tile-title
                  %a{ href:"#{resource.url}", target:"_blank" }
                    = resource.title
                %span.resource-tile-type
                  = resource.type
                - if resource.teaser
                  %p.resource-tile-teaser
                    = resource.teaser
                %a.resource-tile-cta.js-all-clickable-target{ href:"#{resource.url}", target:"_blank" }
                  = "Learn more..."
